
@media only screen and (max-width: 699px) { 
    header img { 
        display: none;
    }
    header h1 { 
        font-size: 20px;
        padding: 1rem;
        display: flex;
        flex: 0 100%;
    }
}
@media only screen and (min-width: 700px) { 
    .navMenu { 
    display: flex;
    background-color: transparent;
    }
    .navMenu li { 
        display: block;
        flex: 1 100%;
        border: none;
    }
    .navMenu a { 
        text-align: center;
        padding: 1rem;
        /* background-color: rgba(112, 112, 112); */
        /* color: black; */
        border-radius: 5px;
        font-size: 14px;
    }
    #menu { 
        display: none;
    }
}

@media (min-width: 768px) {
    .main-services {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 10px;
        /* margin-top: 0.5rem; */
        padding: 0.5rem;
    }

    .sec-div { 
        /* background-color: red; */
        display: grid;
        grid-template-columns: repeat(3, 1fr);
            gap: 10px;
        /* margin-top: 0.5rem; */
        padding: 0.5rem;
    }

    .how-it-works section {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 10px;
        padding: 0.5rem;
    }
    .connect { 
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 10px;
        padding: 0.5rem;
    }
    
}

